<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My First Webpage</title>
  </head>

  <body>
    <h1>Questions</h1>
    <div>
    {% autoescape on %}
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'detail' question.id %}">
              {{ question.question_text }}
            </a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    </div>
    <div>
        <h3>Add a question! :D</h3>
        <form action="{% url 'addquestion' %}" method="POST">
            {% csrf_token %}
            <label for="q">Question:</label><br>
            <input type="text" name="q"><br>
            <label for="c1">Choice 1:</label><br>
            <input type="text" name="c1"><br>
            <label for="c2">Choice 2:</label><br>
            <input type="text" name="c2"><br>
            <label for="pw">Password:</label><br>
            <input type="password" name="pw"><br>
            <input type="submit" value="Add"><br>
        </form>
    </div>
    <div>
      <!-- add _fixed after logout in form action-->
      <h4>Logout</h4>
      <form action="{% url 'logout_fixed' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Logout"/>
      </form>
    </div>
    <form action="{% url 'mystery' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Mystery Button"/>
  </form>
  {% endautoescape %}
  </body>
</html>